body{
    background-image: url('../img/fundo.jpg');
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

.container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    max-width: 300px;  
    border: 2px solid #fff;
    border-radius: 3%;
    flex-direction: column;
    box-shadow: 2px 2px #fff;
}

img{
    max-width: 100%;
}

h3{
    margin-bottom: -20px;
    margin-top: 10px;
    font-weight: bold;
}
label{
    font-weight: bold;
    /* border: 2px solid red; */
    margin-bottom: -10px;  
}

.formulario{
    max-width: 250px;
    /* border: 1px solid red; */
    margin-top: 30px;
    color: white;
}
input{
    width: 249px;
    margin-right: 10px;
    margin-bottom: 10px; 
}
  
button{
    width: 100%; 
}
.btn{
    font-weight: bold;
}

.cadastro{
    font-size: 0.9rem;
    margin-top: 9px;
}
a{
    color: #C82333;
    font-weight: bold;
}
a:hover{
    color: #C82333;
}

@media (max-width:280px){ 
    .container-login{
        
        max-width: 267px;  
        border: 2px solid #fff;
        border-radius: 3%;
        flex-direction: column;
        box-shadow: 2px 2px #fff;
    }
}

 